*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Ubuntu", serif;
}
.app{
  text-align:center;
  gap:16px;
  padding: 32px 16px;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #2596be;
  margin: 16px 0;
}
.logo{
  width: 50px;
}
form{
  display: flex;
  justify-content: center;
}
.form-input{
  min-width: 260px;
  padding: 12px;
  border-radius: 4px 0 0 4px;
  border: 0.5px solid gray;
}
.btn{
  padding: 13px 16px;
  border: none;
  background-color: #2596be;
  color: white;
  border-radius: 0 4px 4px 0;
}
.btn:hover{
  transform: translateY(-2px);
  box-shadow: 1px 1px 2px gray;
}
.btn:active{
  transform: translateY(-1px);
}
.todos{
  max-width: 460px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* min-width: 260px;
  padding: 12px;
  border-radius: 4px 0 0 4px;
  border: 0.5px solid gray; */

}
.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 14px 12px;
  border: 1px solid gray;
  border-radius: 4px;
}
.input-todo{
  display: flex;
  gap:8px;
}
.btn-delete{
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}
.completed{
  text-align: start;
  color: #2596be;
}

.empty-todo {
  font-size: 18px;
  color: #2596be; /* Tomato color */
  text-align: center;
  padding: 20px;
  border: 2px dashed #2596be;
  border-radius: 10px;
  background-color: #f0f8ff; /* AliceBlue background */
  animation: float 3s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.pagination {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.page-btn {
  margin: 0 5px;
  padding: 8px 12px;
  border: 2px solid #2596be;
  background-color: #f0f8ff;
  color: #2596be;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.page-btn:hover {
  background-color:#2596be;
  color: #fff;
}

.page-btn.active {
  background-color: #2596be;
  color: #fff;
}
